* {
   font-family: $regular;
}

html, body {
    height: 100%;
}

h1, .h1 {
    font: 700 70px/76px $bold;
    color: $font;
}

.container-fluid {
    width: 100%;
}

h2 {
    position: relative;
    font: 700 48px/55px $bold;
    color: $font;
    text-transform: uppercase;
    margin-bottom: 50px;
    max-width: 480px;
    &.decoration {
        font-size: 300px;
        color: #f9f9fa;
    }
    &:after {
        position: absolute;
        content: '';
        width: 71px;
        height: 6px;
        background-image: url("../images/border.svg");
        background-repeat: repeat-x;
        background-position: left top;
        bottom: -20px;
        left: 0;
    }
}

.h2 {
    font: 700 48px/55px $bold;
    color: $font;
    text-transform: uppercase;
    margin-bottom: 50px;
    max-width: 480px;
}

h3 {
    font: 700 40px / 50px $bold;
    color: $font;
    &.decoration {
        font-size: 150px;
        color: #f4f4f4;
    }
}

h4, .h4 {
    color: $font;
    font: 500 26px / 32px $regular;
}

h5 {
    color: #666666;
    font: 500 12px / 22px $regular;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

p {
    color: #666666;
    font: 500 16px / 26px $regular;
}

p.light {
    color: #666666;
    font: 300 17px / 32px $light;
}

strong, b {
    font-family: $bold;
}


hr {
    margin: 20px 0 30px;
    height: 1px;
    border-color: $font-grey;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}

.left {
    float: left;
}

a {
    text-decoration: none;
    font: 300 21px/40px $light;
    color: $orange;
    border-bottom: 1px solid $orange;
    transition: .3s;
    &:hover {
        border-color: transparent;
    }
}

.right {
    float: right !important;
}

.hidden {
    display: none;
}

ol.list {
    position: relative;
    counter-reset: item;
    padding-left: 25px;
    font-size: 0;
    >li {
        position: relative;
        display: inline-block;
        width: 50%;
        color: $font;
        padding: 10px 50px;
        &:before {
            display: inline-block;
            margin-bottom: 45px;
            content: counter(item);
            counter-increment: item;
            font: 700 150px/150px $ubuntu;
            color:  rgba(218, 218, 218, 0.3);
        }
        
        &:after {
            position: absolute;
            top: 160px;
            left: 57px;
            content: '';
            width: 71px;
            height: 6px;
            background-position: left top;
            background-repeat: repeat-x;
            background-image: url("../images/border.svg");
        }

        &:nth-child(2){
            padding-top: 100px;
            &:after {
                top:260px;
            }
        }
        
        h3 {
            position: relative;
            display: inline-block;
            font: 700 40px/54px $bold;
            top:-30px;
            left:35px;
            color: $font;
        }
        
        p {
            font: 300 18px/28px $light;
            color: $font-grey;
        }
        @include respond-to(xs){
            width: 100%;
        }
    }
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
    &:before {
        content: "";
        display: inline-block;
        min-height: inherit;
        height: 100%;
        vertical-align: middle;
    }
}

.social-activity {
    text-align: center;
    margin: 10px auto 150px;
    padding: 30px;
    width: 100%;
    background: #f3f6f7;
    >.link {

        display: inline-block;
        vertical-align: middle;
        filter: grayscale(1);
        transition: .3s;
        margin-right: 30px;
        border: 0;

        img {
            vertical-align: middle;
            max-width: 170px;
            max-height: 40px;
            width: auto;
        }

        &:last-child {
            margin-right: 0;
        }
        &:hover {
            filter: grayscale(0);
        }
    }
}



@include respond-to(sm) {
    h1, .h1 {
        font-size: 65px;
        line-height: 70px;
    }
    h2, .h2 {
        font-size: 42px;
        line-height: 50px;
    }
    h3 {
        font-size: 35px;
        line-height: 45px;
    }
    h4, .h4 {
        font-size: 22px;
        line-height: 28px;
    }
}

@include respond-to(xs){
    h1, .h1 {
        font-size: 60px;
        line-height: 65px;
    }
    h2, .h2 {
        font-size: 35px;
        line-height: 42px;
    }
    h3 {
        font-size: 30px;
        line-height: 35px;
    }
    h4, .h4 {
        font-size: 20px;
        line-height: 25px;
    }
    .social-activity {
        margin-bottom: 50px;
    }
}