@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/RobotoRegular/Roboto-Regular.eot');
  src: url('../fonts/RobotoRegular/Roboto-Regular.eot') format('embedded-opentype'),
  url('../fonts/RobotoRegular/Roboto-Regular.woff') format('woff'),
  url('../fonts/RobotoRegular/Roboto-Regular.ttf') format('truetype'),
  url('../fonts/RobotoRegular/Roboto-Regular.svg#RobotoRegular') format('svg');
}

@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/RobotoLight/Roboto-Light.eot');
  src: url('../fonts/RobotoLight/Roboto-Light.eot') format('embedded-opentype'),
  url('../fonts/RobotoLight/Roboto-Light.woff') format('woff'),
  url('../fonts/RobotoLight/Roboto-Light.ttf') format('truetype'),
  url('../fonts/RobotoLight/Roboto-Light.svg#RobotoLight') format('svg');
}

@font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/RobotoBold/Roboto-Bold.eot');
  src: url('../fonts/RobotoBold/Roboto-Bold.eot') format('embedded-opentype'),
  url('../fonts/RobotoBold/Roboto-Bold.woff') format('woff'),
  url('../fonts/RobotoBold/Roboto-Bold.ttf') format('truetype'),
  url('../fonts/RobotoBold/Roboto-Bold.svg#RobotoBold') format('svg');
}

@font-face {
  font-family: 'NerisSemiBold';
  src: url('../fonts/Neris/NerisSemiBold.eot');
  src: url('../fonts/Neris/NerisSemiBold.eot') format('embedded-opentype'),
  url('../fonts/Neris/NerisSemiBold.woff') format('woff'),
  url('../fonts/Neris/NerisSemiBold.ttf') format('truetype'),
  url('../fonts/Neris/NerisSemiBold.svg#RobotoBold') format('svg');
}

@font-face {
  font-family: 'UbuntuBold';
  src: url('../fonts/UbuntuBold/Ubuntu-Bold.ttf') format('truetype');
}
