
*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.wrapper, .row, .clearfix {
  @include clearfix;
}

.hidden {
  display: none!important;
}

.container {
  padding: 1em;
}

.row {
  margin: 0 -1em;
}

[class*='col-'] {
  float: left;
  padding: 0 1em;
  min-height: 1px;
}

.flex {
  display: flex;
  align-items: center;

  >div {
    flex: 1;
  }
  @include respond-to(xs){
    flex-direction: column;
  }
}

.col-sm-12 {
  @include respond-to(sm) {
    padding: 1em;
  }
}

@for $i from 1 through 12 {

  .col-#{$i} {
    width: 100% / 12 * $i;
  }

  .col-offset-#{$i} {
    margin-left: 100% / 12 * $i;
  }

}

@include respond-to(md) {

  @for $i from 1 through 12 {

    .col-md-#{$i} {
        width: 100% / 12 * $i;
      }

    .col-offset-md-#{$i} {
      margin-left: 100% / 12 * $i;
    }

  }

}


@include respond-to(sm) {

  @for $i from 1 through 12 {

    .col-sm-#{$i} {
        width: 100% / 12 * $i;
    }

    .col-offset-sm-#{$i} {
      margin-left: 100% / 12 * $i;
    }

    .col-offset-sm-0 {
      margin-left: 0;
    }

  }
}

@include respond-to(xs) {

  @for $i from 1 through 12 {

    .col-xs-#{$i} {
        width: 100% / 12 * $i;
      }



    .col-offset-xs-#{$i} {
      margin-left: 100% / 12 * $i;
    }

    .col-offset-xs-0 {
      margin-left: 0;
    }

  }
}


@include respond-to(xs) {
  .container {
    padding: .5em 1em;
  }
  [class*='col-'] {
    padding: 0 10px;
  }
}
