.owl-carousel {
  .owl-dots {
    .owl-dot {
      display: inline-block;

      span {
        display: block;
        width: 15px;
        height: 15px;
        margin: 10px;
        background-color: $grey;
        cursor: pointer;
        transition: all .3s ease;
      }

      &.active span {
        background-color: $blue;
      }

    }
  }

  .owl-nav {
    background-color: transparent;
  }
}