//Hot colors

//Hover colors

//Error colors
$success: #75bb1d;
$error : #ff214b;
$warning: yellow;


//Fonts Colors
$font: #1b1f2d;
$font-grey: #6b7287;


$breakpoints: (
        'xs': ( max-width: 750px ),
        'sm': ( max-width: 960px ),
        'md': ( max-width: 1200px ),
        'lg': ( max-width: 1600px )
);